body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
}